html, body {
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.start-page {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    padding: 0 20px 40px;
    border: 1px solid black;
}

.start-page input {
    border: none;
    border-bottom: 1px solid black;
    width: 25px;
    text-align: center;
}

.start-page input:focus {
    outline: none;
}

.btn-start {
    display: block;
    box-shadow: none;
    transform: translate(0, 20px);
    padding: 10px 20px;
    border-radius: 0px;
    background: transparent;
    border: 1px solid black;
    cursor: pointer;
}

.btn-start:hover {
    background: #bfbfbf;
}